.detail-header-section {
	height: 865px;
	background-color: $gray-100;
	background-size: cover;
	background-position: center;

	&.virtuo {
		background-image: url("https://dl.dropboxusercontent.com/s/4owkjm50pjz68tt/virtuo-hero-mobile.jpg");
		height: 679px;
		@media (min-width: $min-sm) {
			background-image: url("https://dl.dropboxusercontent.com/s/7rm6ecr61b0yygc/virtuo-hero.jpg");
			height: 865px;
		}
	}

	&.leflair {
		background-image: url("https://dl.dropboxusercontent.com/s/pisygly6jq2g2vw/lefair-hero.jpg");
	}

	&.timecloud {
		background-image: url("https://dl.dropboxusercontent.com/s/o9xlew3c2g85wh3/timecloud-hero.jpg");
	}
	&.ori {
		background-image: url("https://dl.dropboxusercontent.com/s/ttoumxuj246lkby/ori-hero.jpg");
	}

	&.leflair,
	&.timecloud {
		.highlight {
			padding-top: 170px;
		}
	}

	.header-text {
		margin-top: 32px;
		@media (min-width: $min-sm) {
			margin-top: 80px;
		}
	}
}

.about-project {
	padding-top: 60px;
	padding-bottom: 60px;
}

.highlight {
	&.center {
		text-align: center;
	}

	.project-brief,
	.section-brief, {
		font-size: $font-size-xl;
	}

	.project-sum {
		font-family: $font-title;
		font-size: $font-size-s;
		color: $gray-600;
	}
}

.project-section {
	.section-sum-title {
		font-weight: $font-weight-base;
		margin-bottom: 0;
	}

	.section-title {
		margin-top: 0;
		font-weight: $font-weight-bold;
		&.white {
			color: $white;
		}
	}
	.description {
		&.white {
			p {
				color: $white;
			}
		}
	}

	.detail-sections {
		margin-top: 40px;

		.container {
			padding-top: 0;
		}
	}

	img {
		width: 100%;
	}

	&.team {
		padding-bottom: 40px;
	}
}

.section-footer {
	padding-bottom: 60px;

	a {
		text-decoration: underline;
	}
}

.ground-gray {
	background-color: $gray-400;

	&.timecloud {
		margin-top: 60px;
		padding-bottom: 80px;
	}
}
.ori-bg-backstory {
	background-color: #282B4F;
	margin-top: -130px;
	padding-bottom: 64px;
}

.quote {
	margin-top: 20px;
	margin-bottom: 40px;

	p {
		color: $purple;
	}

	.quote-content {
		font-size: 32px;
	    @media (min-width: $min-sm) {
	        font-size: $font-size-xxl;
	    }
		line-height: 47px;
		margin: 0;
	}
}

.free-space {
	margin-bottom: 50px;
}

img {
	width: 100%;
}

.project-full-width {
	background-color: #A4E2F1;
	margin-top: 16px;
	margin-bottom: 16px;
	overflow: hidden;
	position: relative;
	// height: 590px;
	// @media (min-width: $min-sm) {
	// 	height: 720px;
	// }
}

.project-leflair {
	background-image: none;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 90vw auto;
	margin-bottom: 0 !important;

	@media (min-width: $min-sm) {
		background-position: center bottom;
		background-size: 750px auto;
	}
}
.leflair-desktop-img {
	@media (min-width: $min-sm) {
		margin-bottom: -6px;
	}
	margin-bottom: 16px;
}

.hidden-mobile {
	@media (max-width: $max-sm) {
		display: none;
	}
}
.hidden-desktop {
	@media (min-width: $min-sm) {
		display: none;
	}
}

.img-gallery-item {
	padding-bottom: 30px;
}
