// @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700|Prata');
// @import url('https://fonts.googleapis.com/css?family=Josefin+Slab:700|Libre+Baskerville:400,400i,700');

h1, h2, h3, h4, h5 {
    font-family: $font-title;
}

h1, h2, h3, h4, h5, a, p, li {
    color: $black;
}

h1 {
    font-size: $font-size-sl !important;
}

h2 {
    font-size: $font-size-xxl !important;
}

h3 {
    font-size: $font-size-xl !important;
}

h4 {
    font-size: $font-size-l !important;
}

.sub-title {
    font-family: $font-content;
    font-size: $font-size-s;
}

p, li, a {
    font-family: $font-content;
    line-height: 30px;
}
