// ====================================================================
// Layout styles, should only contain rules relating to the structure
// ====================================================================
* {
	@include bs;
}
// body {
// 	max-width: 1200px;
//     margin: auto;
// }
header[role="banner"],
footer[role="contentinfo"] {
	width: 100%;
	display: block;
}

footer[role="contentinfo"] {
	clear: both;
}

.container {
	padding-top: 56px;
	@media (min-width: $min-sm) {
		max-width: 540px;
	}
	@media (min-width: $min-md) {
		max-width: 541px;
	}
	@media (min-width: $min-lg) {
		max-width: 542px;;
	}
	@media (min-width: $min-xl) {
		max-width: 720px;
	}
}
