// Colors
$color1: #FF0000; // Red

$black: #111111;
$black-900: #171717;

$gray-100: #F2F2F2;
$gray-200: #F6F6F6;
$gray-300: #FAFAFA;
$gray-400: #F7F7F7;
$gray-600: #1E1E1E;
$purple: #377FFF;
$white: rgba(#FFF, .9);
// Fonts
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;
$font-size-xxl: 38px;
$font-size-sl: 56px;

@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700|Libre+Baskerville:400,400i,700');
$font-title: "Cinzel", sans-serif;
$font-content: "Libre Baskerville", sans-serif;
$font-weight-base: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Grid
$min-sm:576px;
$min-md:768px;
$min-lg:992px;
$min-xl:1200px;

$max-sm:575px;
// Mixin variables
